<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <h2>Etl List</h2>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <!-- Iterate over the list of employees passed from the controller -->
        <tr th:each="etl : ${list}">
            <td th:text="${etl.Id}"></td>
            <td th:text="${etl.Name}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
