<HEAD>
</HEAD>
<body>

<div>
    <table width="100%">
        <tr>
            <td>
                text1
            </td>
            <td>
                text2
            </td>
        </tr>
    </table>
</div >
    <div style="display: flex; justify-content: center; width: 1600;" overflow="auto">
        <svg id="dynamicSvg" iewBox="0 0 100 100" style="width: 100%; max-width: 100%; height: 800;border:1px solid black;"> </svg>
    </div>
</body>
<script th:inline="javascript">
  // 1. Get data from backend (passed via Thymeleaf)
  const rectData = [[${data}]];
  const svgns = "http://www.w3.org/2000/svg";
  const svg = document.getElementById('dynamicSvg');

  // 2. Loop through data to create rectangles
  rectData.forEach(data => {
      if (data.type =='rectangle'){
          let rect = document.createElementNS(svgns, 'rect');
          rect.setAttribute('x', data.x);
          rect.setAttribute('y', data.y);
          rect.setAttribute('width', data.w);
          rect.setAttribute('height', data.h);
          rect.setAttribute('fill', data.color);
          rect.setAttribute('rx', data.rx);
          rect.setAttribute('ry', data.ry);

          // Optional: Add interactivity
          rect.addEventListener('click', () => alert('Clicked: ' + data.color));
          let text = document.createElementNS(svgns, 'text');
          text.setAttribute('x', data.x+20 );
          text.setAttribute('y', data.y+60);
          text.textContent='text  text:'+data.id;

          svg.appendChild(rect);
                      svg.appendChild(text);

      }

      if (data.type =='line'){
          const line = document.createElementNS("http://www.w3.org/2000/svg", "line");
          line.setAttribute('x1', data.x1);
          line.setAttribute('y1', data.y1);
          line.setAttribute('x2', data.x2);
          line.setAttribute('y2', data.y2);
          line.setAttribute('stroke', data.stroke);
          line.setAttribute('stroke-width', data.strokeWidth);
          svg.appendChild(line);
  }

  });
</script>