<div class="row" th:fragment="etl-list" th:if="${etlList != null && !etlList.isEmpty()}">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table id="link-list" class="table table-striped table-bordered" style="width:100%">
            <thead>
            <tr>
                <th>ID</th>
                <th>URL</th>
                <th>Status</th>
                <th>Detail</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="etl: ${etlList}">
                <td th:text="${{etl.id}}">1</td>
                <td th:text="${{etl.name}}">http://thegame.org</td>
                <td th:text="${{etl.comment}}">PENDING</td>
                <td><a th:href="@{/etl/detail/{etlId}(etlId=${etl.id})}">Detail</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <a th:href="@{/etl/createEtlForm}">Create</a>
    <div class="col-md-2"></div>
</div>

<div class="row" th:fragment="pagination">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <nav aria-label="Pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item" th:each="pageNumber : ${pageNumbers}" >
                    <a class="page-link" th:href="@{|/etl-list/page/${pageNumber}|}" th:text=${pageNumber}>1</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="col-md-2"></div>
</div>