<table border="1">
    <thead>
    <tr>
        <th th:text="ID" />
        <th th:text="Name" />
        <th th:text="Comment" />
        <th th:text="Actions" />
    </tr>
    </thead>
    <tbody>
    <tr th:each="etl, iStat : ${etlPage.content}"
        th:style="${iStat.odd}? 'font-weight: bold;'"
        th:alt-title="${iStat.even}? 'even' : 'odd'">
        <td th:text="${etl.id}" />
        <td th:text="${etl.name}" />
        <td th:text="${{etl.comment}}">PENDING</td>
        <td><a th:href="@{/etl/detail/{etlId}(etlId=${etl.id})}">Detail</a> <a th:href="@{/etl/start/{etlId}(etlId=${etl.id})}">Start</a></td>

    </tr>
    </tbody>
</table>
<div th:if="${etlPage.totalPages > 0}" class="pagination"
     th:each="pageNumber : ${pageNumbers}">
    <a th:href="@{/etl/browser(size=${etlPage.size}, page=${pageNumber})}"
       th:text=${pageNumber}
       th:class="${pageNumber==etlPage.number + 1} ? active"></a>
</div>
