<form action="#" th:action="@{/etl/saveAction}" th:object="${etl}" method="post">
    <p>Id:   <input type="text" th:field="*{id}" th:readonly="true" />"</p>

    <input type="hidden" th:field="*{id}" />
    <p>Name: <input type="text" th:field="*{name}" /></p>

    <input type="checkbox" name="active" onchange="getActive(this)"
           th:checked="${etl.active}"/>
    <span>Active</span>
    <p>Interval: <input type="number" th:field="*{interval}" /></p>
    <p>comment: <input type="text" th:field="*{comment}" /></p>
    <p><input type="submit" value="Submit" /></p>
</form>