<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <script type="text/javascript" th:src="@{/css/jquery-1.7.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/css/bootstrap.min.js}"></script>
</head>

<body>

<div class="container-fluid">
    <input type="hidden" name="id" th:value="${script.id}">
    <h2 class="text-center">[[${pageTitle}]] </h2>
    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
         role="alert">
        [[${message}]]
        <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="my-3">
        <form th:action="@{/script/save}" method="post" th:object="${script}"  style="max-width: 550px; margin: 0 auto">
            <input type="hidden" name="id" th:value="${script.id}">

            <div class="p-3">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="name">Name</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{name}" required minlength="2" maxlength="128"
                               class="form-control"
                               id="name"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="name">language</label>
                    <div class="col-sm-9">
                        <select id="language" th:field="*{language}">
                            <option value="language">[[*{language}]]</option>
                            <option th:each="lg : ${allLanguages}"
                                    th:value="${{lg}}"
                                    th:text="${lg}">
                                Cinema
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="name">ScriptType</label>
                    <div class="col-sm-9">
                        <select id="type" th:field="*{type}">
                            <option value="language">[[*{type}]]</option>
                            <option th:each="tp : ${allTypes}"
                                    th:value="${{tp}}"
                                    th:text="${tp}">
                                Cinema
                            </option>
                        </select>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="name">Version</label>
                    <div class="col-sm-9">
                        <input type="text" th:field="*{version}" required minlength="1" maxlength="128"
                               class="form-control"
                               id="version"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="name">script</label>
                    <div class="col-sm-9">
                    <textarea id="script" th:field="*{script}" rows="10" cols="50"
                              placeholder="Enter your multi-line text here..."></textarea>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-3 form-check-label" for="active">active</label>
                    <div class="col-sm-9">
                        <input type="checkbox" th:field="*{active}"/>
                    </div>
                </div>


                <div class="text-center">
                    <input type="submit" value="Save" class="btn btn-primary btn-sm mr-2"/>
                    <input type="button" value="Cancel" id="btnCancel" class="btn btn-secondary btn-sm"/>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="~{fragments/script/footer :: footer}"></div>

<script type="text/javascript">
    $(document).ready(function () {
      $("#btnCancel").on("click", function () {
        window.location = "[[@{/script_browser}]]";
      });
    });
</script>

</body>

</html>